f
*{
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
}
body{
    font-size: larger;
    background-color: purple;
    padding-top: 80px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}
header{
    position: fixed;
    z-index: 1000;
}
main{
    border-radius: 40px;
    position: relative;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 120px;
    background-color: white;
    overflow: hidden;
    
}

footer{
    border-top: 10px solid #e26ee5;
    background-color: white;
    width: 100%;
    height: 200px;
    padding: 10px;
    padding-top: 50px;
    border-radius: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    
}

footer div{
    height: 100px;
    width: 300px;
    padding: 5px;
    text-align: center;
}
.footer-icon{
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    padding-left: 60px;

}
.footer-icon img{
    width: 40px;
    height: 40px;
    margin: 5px;
}
.skull{
    height: 200px;
    width: 300px;

}
.skull img{
    max-width: 100%;
    height: 100%;
}
.div1{
    border: 2px solid black;
    border-radius: 5px;
    height: 600px;
    width: 800px;
    position: relative;
    display: inline-flex;
    padding: 10px;
    text-align: center;
    align-content: center;
    align-items: center;
}

.special-div p{
    border: 2px solid gold;
    width: 200px;
    height: 20px;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    position: relative;
    top: 300px;
    left: 150px;
    background-color: #e26ee5;
}
.special-div2 p{
    border: 2px solid gold;
    width: 200px;
    height: 20px;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    position: relative;
    top: 315px;
    left: 150px;
    background-color: #e26ee5;
}
.notee
 {

    height: 350px;
    width: 340px;
    padding: 5px;

}
article{
    display: flex;
    flex-wrap: wrap;
}
.div2 img{
    margin: 5px;
    text-align: center;
    width: 60px;
    height: 60px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
