*{
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
}
body{
    font-size: larger;
    background-color: purple;
    padding-top: 80px;
    height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
    
}

header{
    position: fixed;
    z-index: 1000;
}
main{
    border-radius: 40px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 120px;
    background-color: white;
    
}
footer{
    border-top: 10px solid #e26ee5;
    background-color: white;
    width: 100%;
    height: 200px;
    padding: 10px;
    padding-top: 50px;
    border-radius: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    
}

footer div{
    height: 100px;
    width: 300px;
    padding: 5px;
    text-align: center;
}
.footer-icon{
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    padding-left: 60px;

}
.footer-icon img{
    width: 40px;
    height: 40px;
    margin: 5px;
}
.skull{
    height: 200px;
    width: 300px;

}
.skull img{
    max-width: 100%;
    height: 100%;
}

.attract{
    border: 1px solid white;
    width: 400px;
    padding: 10px;
    margin-right: 50px;
    text-align: center;
}
.video{
    border: 2px solid ;
    border-radius: 30px;
    width: 100%; 
    max-width: 170px; 
    height: 250px;
    overflow: hidden;
    margin-left: 40px;
    
    
}
.video video{
    width: 100%; 
    height: auto;
    border-radius: 30px;
    pointer-events: none;

}

@media (max-width: 600px) {
    .video {
        width: 100%;
        margin-left: 0; 
    }
}
.jombo{
    width:230px;
    text-align: center;
}
#note1{
    height: 150px;
    width: 300px;
    padding: 5px;
    border-radius: 10px;
    color: purple;
    text-align: center;
    border: 1px outset;
    overflow-wrap: break-word; /* to ensure words break to next line*/
    resize: none; /* making sure text dont resize */

    
}
#submitButton{
    background-color: purple;
    color: white;
    height: 30px;
    width: 100px;


}
article{
    width: 100%;
    height: fit-content;
    text-align: center;
}

#email1{
    border: 1px inset gray;
    height: 30px;
    border-radius: 10px;
    color: purple;
    padding: 3px;
    text-align: center;
}

#name1{
    border: 1px outset grey;
    height: 25px;
    border-radius: 10px;
    color: purple;
    padding: 3px;
    text-align: center;
}
 #button1{
    background-color: purple;
    color: white;
    height: 30px;
    width: 100px;
    cursor: pointer;
    border-radius: 5px;
}
#button1 a :hover{
    background-color: grey;
}

